div#titre_langue{
    background-color: #b00b69;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

div.langues button{
    background-color:#b00b69;
    color:aliceblue;
    font-size: 24px;
    margin: 0 4px 0 4px;
}

div.langues button:hover {
    background-color: white;
    color: #b00b69;
}

div#deux-images{
    text-align: center;
}

div#deux-images img{
    margin-left: 5%;
    margin-right: 5%;
}


details {
    width: 80%;
    margin: 1rem auto;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.2rem;
    background: #fff;
}

summary {
    list-style: none;
    cursor: pointer;
    padding: 12px 16px;
    font-weight: 600;
    outline: none;
}

/* retirer la flèche par défaut (optionnel) */
summary::-webkit-details-marker { display:none; }
summary::marker { content: ""; }

/* contenu masqué/animé */
details.content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35s ease;
    padding: 0 16px;
}

/* quand details est ouvert on augmente max-height pour afficher */
details[open] .content {
    max-height: 800px; /* suffisamment grand pour le contenu */
    padding-bottom: 12px;
}




h1{
    font-size : 36px;
    text-align: center;
    }

/* --- Style du tableau --- */
table {
    border-collapse: collapse; /* fusionne les bordures doubles */
    width: 60%; /* optionnel : ajuste la largeur */
    margin: 20px auto; /* centre le tableau */
}

th, td {
    border: 1px solid #333; /* bordure noire */
    padding: 10px;          /* espace intérieur */
    text-align: left;       /* aligne le texte */
}

tr:nth-child(even) {
    background-color: #e9e9e9; /* zébrage léger */
}

img {
    max-width: 35%; /* limite la taille de l’image */
    height: auto;
}