div#titre_langue{
    background-color: #23427c;
    color:white;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

div.langues button{
    background-color:white;
    color:#23427c;
    vertical-align: middle;
    font-size: 24px;
    margin: 0 4px 0 4px;
}

/*Inutile*/
div.langues button:hover {
    background-color: white;
    color: #23427c;
}

div.langues button.active {
    background-color: white;
    color: #23427c;
    font-weight: bold;
}

div.langues button img {
    width: 24px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
}

div#deux-images{
    text-align: center;
}

div#deux-images img{
    margin-left: 5%;
    margin-right: 5%;
    max-width: 35%;
}

details {
    width: 80%;
    margin: 1rem auto;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
}

summary {
    list-style: none;
    cursor: pointer;
    padding: 12px 16px;
    font-weight: 600;
    outline: none;
}

/* contenu masqué/animé */
details.content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35s ease;
    padding: 0 16px;
}

/* quand details est ouvert on augmente max-height pour afficher */
details[open] .content {
    max-height: 800px; /* suffisamment grand pour le contenu */
    padding-bottom: 12px;
    
}

details[open] p {
    text-justify: inter-word;
    margin-right: 30px;
    margin-left: 30px;
}

h1{
    font-size : 36px;
    text-align: center;
    }